src
stories
docs
.storybook
node_modules
.DS_Store
*.log
.env
.env.local
coverage
.vscode
.idea
tsconfig.json
rollup.config.js
jest.config.js
.git
.github
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
__tests__
storybook-static
*.md
!README.md

